<!DOCTYPE html>
<html>
<head>
  <title>GCN Monitor</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
  <h1>Monitoramento GCN em Tempo Real</h1>
  <div id="map"></div>
  <div id="news"></div>
  <div id="news-ticker">
    <marquee behavior="scroll" direction="left" id="ticker-content">Carregando alertas...</marquee>
  </div>
  <script src="/static/js/script.js"></script>
</body>
</html>